* {
    box-sizing: border-box;
}

@font-face {
    font-family: Geometria;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/Geometria.otf) format('opentype')
}

@font-face {
    font-family: Geometria;
    font-weight: 400;
    font-style: italic;
    src: url(fonts/Geometria-Italic.otf) format('opentype')
}

@font-face {
    font-family: Gilroy;
    font-weight: 300;
    font-style: normal;
    src: url(fonts/Gilroy-Light.otf) format('opentype')
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Geometria, sans-serif;
    font-weight: 400;
    background-image: linear-gradient(100deg, #363B5D 20%, #3E6399);
}

.area {
    margin: 13% auto 0;
    width: 658px;
}

.menuarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.iconarea {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 44%;
    width: 400px;
    height: 60px;
}

.lengicon {
    display: inline-block;
    height: 20px;
    margin: 0 3%;
}

.leng {
    display: inline-block;
    margin: 0 0 0 5%;
}

.center {
    display: inline-block;
    margin: 0 0 0 20%;
}

.menu {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    padding: 5px 5px;
    outline: none;
    border-radius: 2px;
}

.menu1 {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    padding: 5px 5px;
    outline: none;
    border-radius: 2px;
}

.contacts {
    display: inline-block;
    margin: 0 7px;
    background-color: #363B5D;
    color: #fff;
    height: 40px;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    padding: 5px 5px;
    outline: none;
    border-radius: 5px;
}

.dopomoga {
    display: inline-block;
    margin: 0 2px;
    background-image: linear-gradient(100deg, #E63454, #9D5F9B);
    color: #fff;
    font-size: 15px;
    height: 40px;
    width: 250px;
    text-decoration: none;
    user-select: none;
    padding: 4px 4px;
    outline: none;
    border-radius: 5px;
}

.reg {
    display: inline-block;
    margin: 0 0 0 7%;
    color: #7F93B4;
    height: 3%;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    padding: 5px 5px;
    outline: none;
    border-radius: 5px;
}

.heart {
    display: inline-block;
    margin: 1% 0 0 1%;
}

.shape {
    display: inline-block;
    height: 20px;
    margin: 0 0 0 13%;
}

h1,
h2 {
    text-align: center;
    font-size: 65px;
    color: #ffffff;
    font-weight: 400;
    line-height: 85px;
    text-transform: none;
}

h1 {
    margin: 0;
    font-family: 'Geometria';
}

h2 {
    margin: 0;
    font-family: 'Gilroy';
}

.bot {
    margin: 15% 0 4% 0;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

p {
    padding-top: 5px;
    font-family: 'Geometria', sans-serif;
    font-size: 5px;
    color: #fff;
    text-align: center;
}

h2~p {
    font-family: Geometria, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #425c63;
    background: #dbeaee;
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s ease;
}

form {
    margin: auto;
}

form button {
    width: 33%;
    background: #354A74;
    color: #fff;
    border: 0;
    width: 32%;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

.input {
    padding: 0 10px;
    margin-right: 3px;
    width: 32%;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    border: 0;
    background: #3E4F78;
    color: #fff;
}

.input::placeholder {
    color: #fff;
    font-weight: 500;
}